    .button {


        -fx-background-color:
                linear-gradient(#0033ff, #8d40d3),
                linear-gradient(#ffeedd 0%, #698fe0 20%, #c766ff 100%),
                linear-gradient(#ffeedd 0%, #698fe0 20%, #c766ff 100%),
                linear-gradient(to bottom left,rgba(136, 193, 224,0.6), #ffe4e4 );


        -fx-background-insets: 0,1,2,3;
        -fx-background-radius: 20,15,15,15;
        -fx-border-color: white;
        -fx-border-radius: 20;
        -fx-text-fill: black;
        -fx-effect: dropshadow( gaussian , rgba(0,0,0,0.6) , 6,0,0,3 );
        -fx-cursor: hand;
    }



    .button:hover {
        -fx-background-color: #7aaae0;

    }

    .labels{
        -fx-background-color: #ffffff;
        -fx-background-radius: 10;
        -fx-padding: 10;

        -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 10, 0, 0, 0);
    }